<div class="text-layout">
  <h1>DecimalPipe, CurrencyPipe y PercentPipe</h1>
  <h3>
    Pipes incluídos en Angular - Usualmente en el 'Common Module'.
  </h3>
</div>

<div class="grid">

  <div class="col-4">
    <p-card header="Ventas Netas"
            subheader="del presente año">
        <i class="pi pi-dollar"></i>
        {{ (ventasNetas + 1000000) | number:'1.2-2' }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Ventas Brutas"
            subheader="del presente año">
        {{ (ventasNetas + 2700000) | currency:'ARS':'symbol-narrow':'1.4-4' }}
    </p-card>
  </div>

  <div class="col-4">
    <p-card header="Ganancias porcentual"
            subheader="del presente año">
            {{ porcentaje | percent:'2.2-2' }}
    </p-card>
  </div>

</div>
