<div class="text-layout">
  <h1>Pipes no tan comunes</h1>
  <p>
    Pipes incluídos en Angular - Usualmente en el Common Module.
  </p>
</div>

<div class="grid">
  <div class="col md:col-6">
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true" [collapsed]="true">
      <p>
        Saludos {{ nombre }}, es un placer
        {{ genero | i18nSelect:invitacionMap }}
        a nuestro evento.
      </p>
      <p-button label="Cambiar Persona"
                styleClass="p-button-raised p-button-help"
                (click)="cambiarPersona()"
                >
      </p-button>
    </p-fieldset>
  </div>
  <div class="col md:col-6">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true" [collapsed]="true">
      <p>
        Actualmente tenemos {{ clientes.length | i18nPlural:clientesMap }}
      </p>
      <p-button label="Borrar Cliente"
                styleClass="p-button-raised p-button-help"
                (click)="borrarCliente()"
                >
      </p-button>
    </p-fieldset>
  </div>

  <div class="col md:col-6">
    <p-fieldset legend="Json Pipe" [toggleable]="true" [collapsed]="true">
      <pre>{{ heroes | json }}</pre>
    </p-fieldset>
  </div>

  <div class="col md:col-6">
    <p-fieldset legend="Slice Pipe" [toggleable]="true" [collapsed]="true">
      <b>Original</b>
      <pre> {{ clientes }}</pre>

      <b>Si uso el boton de borrar cliente..</b>
      <pre> {{ clientes | slice:0 }}</pre>
    </p-fieldset>
  </div>

  <div class="col md:col-6">
    <p-fieldset legend="KeyValue Pipe" [toggleable]="true" [collapsed]="true">
      <ul>
        <li *ngFor="let item of persona | keyvalue ">
          <b>{{ item.key | titlecase }}:</b> {{ item.value }}
        </li>
      </ul>
    </p-fieldset>
  </div>

  <div class="col md:col-6">
    <p-fieldset legend="Async Pipe" [toggleable]="true" [collapsed]="false">
      <b>Tiempo malgastado aqui:</b><pre> {{ miObservable | async }}</pre>
      <b>Promesa:</b>
      <pre *ngIf="!(valorPromesa | async)"> Resolviendo promesa... </pre>
      <pre> {{ valorPromesa | async }}</pre>

    </p-fieldset>
  </div>
</div>
